---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
const pageTitle = "Portable Notes-Diary";
---

<BaseLayout pageTitle={pageTitle}>
  <Header />

  <section class="section">
    <div class="container">
      <div class="banner">
        <div class="">
          <h1 class="title">
            We build<br /><mark>fast sites &amp; apps.</mark>
          </h1>
          <p class="text">
            If you have any questions，please contact with us by E-mail. Portablenotes@outlook.com
          </p>

          <div class="banner"></div>
          <a
            class="button"
            href="https://play.google.com/store/apps/details?id=top.portablenotes2024.app"
            >Start project</a
          >
        </div>
        <img src="/app_image_2.png" />
        <img src="/app_image_1.png" />
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  a {
    color: var(--color-text);
  }
</style>
