---

---

<header>
  <div class="container">
    <h1 class="title1"><mark>Portable Notes-Diary & Journal</mark></h1>
    <nav>
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms of Service</a>
    </nav>
  </div>
</header>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .logo svg {
    display: block;
    max-width: 9.3rem;
    height: auto;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  nav a {
    color: var(--color-text);
    padding: 2.325rem 1.0333rem;
  }
</style>
